@font-face {
  font-family: "PP Agrandir Grand";
  src: url("./../assets/fonts/PPAgrandir-GrandLight.woff2") format("woff2"),
    url("./../assets/fonts/PPAgrandir-GrandLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Agrandir Grand";
  src: url("./../assets/fonts/PPAgrandir-GrandHeavy.woff2") format("woff2"),
    url("./../assets/fonts/PPAgrandir-GrandHeavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Migra";
  src: url("./../assets/fonts/PPMigra-Regular.woff2") format("woff2"),
  url("./../assets/fonts/PPMigra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.heading-2xl {
  @apply text-[107px] md:text-[205px] xl:text-[310px] leading-[75%] tracking-[-15.5px];
}
.heading-sm {
  @apply text-[44px] md:text-[85px] xl:text-[130px] leading-[75%] tracking-[-6.5px];
}

.feature { 
  @apply text-[20px] leading-[130%] tracking-[0.2px]
}

.copy { 
  @apply text-[16px] leading-[130%] tracking-[0.14px];
}
